/*
----- Custom.css -----
Use this style sheet for general stylyzing
*/

/*----- General -----*/

body {
	height: 100%;
}

.section-title {
	margin-top: 40px;
	margin-bottom: 40px;
}

.container {
	padding-bottom: 40px;
}

.row {
	margin-bottom: 20px;
}

.off-white {
	background-color: #f5f5f5;
}

.light-gray {
	background-color: #bfbfbf;
}

.dark-gray {
	background-color: #262624;
	color: #fff;
}

.red-font {
	color: #dd352e;
}

.right {
	float: right;
}

/*----- Header -----*/

#header {
	width: 100%;
	height: 35em;
	color: #fff;
}

nav.navbar-default {
	background-color: transparent;
	border: none;
}

#navBarLogo {
	height: 10em;
	width: 10em;
	margin: 25px;
}

#navBarRight {
	padding-top: 5%;
}

#innerNavBar {
	padding: 0 10%;
}

nav li {
	padding: 5px;
}

html body #navbar .navbar-nav > li > a {
	border-right: 1px solid #000;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 25px;
	color: #000;
}

html body #navbar .navbar-nav > li:last-child > a {
	border-right: none;
}

html .navbar-default .navbar-nav > .active>a, html .navbar-default .navbar-nav > .active>a:hover {
	background-color: transparent;
}

#title, #sub-title {
	color: #000;
}

/*----- About My Journey -----*/

#aboutJourney #question-left {
	border-right: 2px solid #000;
	vertical-align: middle;
}

#aboutJourney #question-right {
	border-left: 2px solid #000;
	vertical-align: middle;
}

#aboutJourney .no-float {
	display: table-cell;
	float: none;
}

/*----- Footer -----*/

footer {
	padding-top: 30px;
}